// // html {
//   //   box-sizing: border-box;
//   //   height: 100%;
//   // }

//   // *,
//   // *:before,
//   // *:after {
//   //   box-sizing: inherit;
//   // }

//   // html,
//   // body {
//   //   margin: 0;
//   //   padding: 0;
//   // }

//   // body {
//   //   // width: 100vw;
//   //   // height: 100vh;
//   //   background-color: black;
//   // }

// // #main {
// //   position: absolute;
// //   display: block;
// //   top: 0;
// //   left: 0;
// //   width: 100vh;
// //   // max-height: $finalWidth;
// //   margin: 0;
// //   // padding-top: $scrollBarHeight;
// //   background: #abc;
// //   overflow-y: auto;
// //   overflow-x: hidden;
// //   transform: rotate(-90deg) translateY(-50vh);
// //   transform-origin: right top;

// //   &>div {
// //     display: block;
// //     transform: rotate(90deg);
// //     transform-origin: right top;

// //     img {
// //       height: 100vh;
// //       width: auto;
// //     }
// //   }
// // }

// #main {
//   // position: absolute;
//   // display: block;
//   // margin: 0;
//   height: 100vh;
//   width: 0;
//   // overflow-x: auto;

//   // transform: rotate(-90deg) translateY(-100px);
//   // transform-origin: right top;
//   // padding-top: 90vh;
// }

// .img {
//   width: auto;
//   height: 100vh;
//   display: inline-block;
//   font-size: 0;

//   img {
//     // position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 1;
//     transition: all 5s;
//     filter: contrast(100%) hue-rotate(0deg);
//     // contrast(249%) hue-rotate(333deg);
//     width: auto;
//     height: 100vh;
//     font-size: 0;

//     &.loaded {
//       opacity: 1;
//       // filter: contrast(249%) hue-rotate(-33deg);
//     }
//   }
// }

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

header {
  position: absolute;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999;

  h1 {

    color: #d62626;
    font-size: 5em;
    width: 30%;
    line-height: 0.7;
    margin: 0;
    padding: 0;
  }
}

main {
  height: 100vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: black;
}

.img {
  float: left;
  height: 100vh;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;

  img {
    width: auto;
    height: 100vh;
    opacity: 0;
    transition: opacity 5s;

    &.loaded {
      opacity: 1;
    }
  }

  &.zooming {
    cursor: zoom-out;
  }

  .descripcion {
    position: absolute;
    white-space: normal;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Squada One', cursive;
  }
}

.mask {
  position: fixed;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}

#mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}